@import "tailwindcss";
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-top: 3rem;
  font-family: roboto;  
}
/* div {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
} */
.search-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px; /* or any width you want */
  margin: 0 auto;
  gap: 10px;

}

input {
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}
p {
  font-size: 1.5rem;
  color: #333;
  margin: 10px 0;
}
button {
  padding: 10px 20px;
  background-color: #ffcb05;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

button:hover {
  background-color: #f5b700;
  
}
button:active {
  background-color: #e6a800;
}

img {
  width: 100%;
  height: auto;
  border: black 2px solid;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  align-self: center;
}
img {
  animation: fadeIn 0.3s ease-in-out;
}
.spinner-container {
  margin-top: 20px;
  width: 100%;
  max-width: 300px; /* Match the input/button/image */
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner-border {
  width: 150px;
  height: 150px;
}
.spinner-container {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}